@import url("https://fonts.googleapis.com/css?family=Fredericka+the+Great");

body {
	margin: 0 auto;
    background: black;
    background-position:center;
    background-size: contain;
    }
      			
.header {
  	padding: 15%;
	text-align: center;
  	background: url("../../images/sunrise-1765027_1920.jpg");
  	color: white;
	}
			
.footer {
	padding: 30%;
  	text-align: center;
  	background: url("../../images/Space_Shuttle.jpg");
  	color: white;
	}
	#footer {
  	position: absolute;
  	bottom: 0;
  	width: 100%;
	}
			
.container {
	width:70%; 
    min-height: 65vh;
    background-color: transparent;
    padding-top: 1%; 
    padding-left: 1%;
    padding-right: 1%;
    position: relative;
    } 
#st-box {
	float:left;  
    background: url("../../images/48A9ACC1-F1AF-493F-A607-E7D7ED9CC82B_1_201_a.jpg");
    border: 1px solid #FFD300;
    width: 32.5%; 
    height: 41vh;
    } 
#nd-box{ 
    float:left;  
	background: url("../../images/fairy-tale-1077863_640.jpg");
	border: 1px solid #FFD300;
    width: 32.5%; 
    height: 41vh;
    margin-left:1%; 
    } 
#rd-box { 
    float:right; 
    background: url("../../images/caricature-5268744_640.jpg");
    border: 1px solid #FFD300;
    width: 32.5%; 
    height: 41vh;
    }
#fourth-box {
    float:left;  
    background: url("../../images/caricature-5267155_640.jpg");
    border: 1px solid #FFD300;
	width: 32.5%; 
    height: 41vh;
    }
#fiveth-box {
    float:left;  
    background: url("../../images/imagination-5153649_640.jpg"); 
    border: 1px solid #FFD300;
    width: 32.5%; 
    height: 41vh;
    margin-left:1%; 
    }
#sixth-box {
    float:right;  
    background: url("../../images/door-5831240_640.jpg");
    border: 1px solid #FFD300;
    width: 32.5%; 
    height: 41vh;	
    }
#st-box:hover {
    background: #FFD300;
	}
#nd-box:hover {
    background: #FFD300;
	}
#rd-box:hover {
    background: #FFD300;
	}
#fourth-box:hover {
    background: #FFD300;
	}
#fiveth-box:hover {
    background: #FFD300;
	}
#sixth-box:hover {
    background: #FFD300;
	}
    			
div1 {
   	margin-bottom: 0.5%;
   	}
    			
h1 {
    color: white;
    text-align: center;
    font-size: 700%;
    font-family: "Fredericka the Great";
    }
    			
h2 { 
    color: white; 
    text-align: center; 
    font-size: 400%;
    font-family: "Fredericka the Great";
    }
h3 { 
    color: white; 
    text-align: center; 
    font-size: 120%;
    font-family: "Fredericka the Great";
    }
    			
				

/*@media screen and (max-width: 736px) {
	body {
		margin: 0 auto;
        background: black;
        background-position:center;
        background-size: contain;
      	}
    .header {
  		padding: 20%;
  		text-align: center;
  		background: url("images/sunrise-1765027_1920.jpg");
  		color: white;
  		position: relative, bottom: 800px;
		}
	.footer {
  		padding: 10%;
  		text-align: center;
  		background: url("images/Space_Shuttle.jpg");
  		color: white;
		}
	#footer {
  		position: absolute;
  		bottom: 0;
  		width: 100%;
		}
						
	.container {
		width:90%; 
        min-height: 90vh;
    	background-color: red;    			
    	padding-top:1%; 
        padding-left:1%; 
        padding-right:1%; 
        position: relative;
        } 
	#st-box {
		float:left;  
    	background: url("images/48A9ACC1-F1AF-493F-A607-E7D7ED9CC82B_1_201_a.jpg");
    	border: 1px solid blue;
    	width: 60%; 
    	height: 10vh;
    	}
    #nd-box{ 
    	float:left;  
		background: url("images/fairy-tale-1077863_640.jpg");
		border: 1px solid #FFD300;
    	width:60%; 
    	height:10vh; 
    	} 
	#rd-box { 
    	float:left; 
    	background: url("images/caricature-5268744_640.jpg");
    	border: 1px solid #FFD300;
    	width:60%; 
    	height:10vh;
    	}
    #fourth-box {
    	float:left;  
    	background: url("images/caricature-5267155_640.jpg");
    	border: 1px solid #FFD300;
    	width:60%; 
    	height:10vh;
    	}
    #fiveth-box {
    	float:left;  
    	background: url("images/imagination-5153649_640.jpg"); 
    	border: 1px solid #FFD300;
    	width:60%; 
    	height:10vh;
    	}
    #sixth-box {
    	float:left;  
    	background: url("images/door-5831240_640.jpg");
    	border: 1px solid #FFD300;
    	width:60%; 
    	height:10vh;
    	}
    h1 {
    	color: white;
    	text-align: center;
    	font-size: 250%;
    	font-family: "Fredericka the Great";
    	}
    h2 {
		color: white;
		text-align: center;
		font-size:150%;
		font-family: "Fredericka the Great";
		}
	h3 {
    	color: white;
    	text-align: center;
    	font-size: 1.1em;
    	font-family: "Fredericka the Great";
    	}
    }